@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.TitleName|BookStore</title>
</head>
<body>
    <div>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
</body>
</html>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/ErrorStyles.css" rel="stylesheet" />
<link href="~/Content/AdminLayoutStyles.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/a6998d7322.js" crossorigin="anonymous"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
@Scripts.Render("~/scripts/jquery-3.4.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")