@using BookStore.Domain.Concrete
@{
    var db = new EFDbContext();
}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title|BookStore</title>
    <script>
        $('.dropdown-toggle').click(function (e) {
            if ($(document).width() > 768) {
                e.preventDefault();
                var url = $(this).attr('href');
                if (url !== '#') {
                    window.location.href = url;
                }
            }
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="@Url.Action("List", "Book")">
            <span class="d-none d-sm-block">BookStore - книжный магазин</span>
            <div class="d-block d-sm-none">Book</div>
            <div class="d-block d-sm-none">Store</div>
        </a>
        <div class="navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Author", "Menu")">Я-автор</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Wholesale", "Menu")">Книги оптом</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Cooperation", "Menu")">Сотрудничество</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("News", "Menu")">Новости</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About", "Menu")">О нас</a>
                </li>
                @if (User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Admin")">Админ. панель</a>
                    </li>
                }
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                @Html.Action("Summary", "Cart")
            </form>
            @if (User.IsInRole("admin") || User.IsInRole("user"))
            {
                <div class="dropdown form-inline mt-2 mt-md-0" style="margin-right:110px">
                    <a class="btn btn-outline-light" href="@Url.Action("Index","Account")" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="far fa-user-circle"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="@Url.Action("Index","Account")">Профиль</a>
                        <a class="dropdown-item" href="@Url.Action("Purchases", "Account", new { db.Users.Where(u => u.Email == User.Identity.Name).FirstOrDefault().UserId })">Заказы</a>
                        <a class="dropdown-item" href="@Url.Action("EditProfile", "Account", new { db.Users.Where(u => u.Email == User.Identity.Name).FirstOrDefault().UserId })">Редактировать</a>
                        <a class="dropdown-item" href="@Url.Action("Logout","Auth")" style="color:red">Выйти</a>
                    </div>
                </div>
            }
            else
            {
                <form class="form-inline mt-2 mt-md-0" style="margin-right:110px">
                    <a class="btn btn-outline-light my-2 my-sm-0" href="@Url.Action("Login","Auth")"><i class="far fa-user-circle"></i></a>
                </form>
            }
        </div>
    </nav>
    <div class="d-block d-sm-none">
        @Html.Action("SearchPanel", "Nav", new { horizontalNav = true })
        @Html.Action("Menu", "Nav", new { horizontalNav = true })
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="categories" class="col-sm-3 d-none d-sm-block">
                @Html.Action("SearchPanel", "Nav")
                @Html.Action("Menu", "Nav")
            </div>
            <div id="results" class="col-12 col-sm-8">
                @RenderBody()
            </div>
        </div>
    </div>
    <br />
    <footer class="footer fixed-bottom">
        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }
        else
        {
            <div class="container" style="text-align:center;">
                <span class="text-muted">All rights reserved. Website Corp. &copy; 2020</span>
            </div>
        }
    </footer>
</body>
</html>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/ErrorStyles.css" rel="stylesheet" />
<link href="~/Content/LayoutStyles.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/a6998d7322.js" crossorigin="anonymous"></script>
@Scripts.Render("~/scripts/jquery-3.4.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
<link href="~/Content/BackgroundFormStyles.css" rel="stylesheet" />
<style>
    body {
        background-image: url("../..//Content/Background.png")
    }
</style>