@model BookStore.Domain.Entities.Book
<div class="card card-body">
    <h3>
        <strong>@Model.Title</strong>
        <span class="float-right badge badge-pill badge-primary col-md-2 col-5">@Model.Price.ToString("# руб")</span>
    </h3>
    <h4>
        <span class="font-weight-normal">Автор: @Model.Author.ToString()</span>
        <span class="float-right font-weight-light font-italic">
            @if (Model.Quantity == 0)
            {
                <small>
                    Товар закончился
                </small>
            }
            else
            {
                <small>
                    Осталось: @Model.Quantity.ToString("# шт")
                </small>
            }
        </span>
    </h4>
    @if (Model.Quantity != 0)
    {
        using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="float-right">
                @Html.HiddenFor(x => x.BookId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Добавить в корзину" />
            </div>
        }
    }
    <p>
        @if (Model.ImageData != null)
        {
            <img class="img-thumbnail float-left mr-2 mb-1" width="100" height="100"
                 src="@Url.Action("GetImage", "Book",
                    new { Model.BookId })" />
        }
        @Model.Description
    </p>
</div>
