@model BookStore.WebUI.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}
<div class="form" style="width:400px">
    <h2>Регистрация <i class="fas fa-book-open fa-spin"></i></h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Пожалуйста, заполните указанные поля</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 input-group" style="width:350px">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="far fa-envelope"></i></div>
                    </div>
                    @Html.EditorFor(model => model.UserName, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @type = "email",
                            @placeholder = "Ваш E-mail"
                        }
                    })
                </div>
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "col-md-10 text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 input-group" style="width:350px">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    @Html.EditorFor(model => model.Password, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @type = "password",
                            @placeholder = "Ваш пароль",
                            @style = "width:50%"
                        }
                    })
                </div>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "col-md-10 text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 input-group" style="width:350px">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user-alt"></i></div>
                    </div>
                    @Html.EditorFor(model => model.Name, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @type = "name",
                            @placeholder = "Вашe имя",
                            @style = "width:50%"
                        }
                    })
                </div>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "col-md-10 text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 input-group" style="width:230px">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-caret-square-up"></i></div>
                    </div>
                    @Html.EditorFor(model => model.Age, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @type = "age",
                            @placeholder = "Ваш возраст",
                            @style = "width:50%"
                        }
                    })
                </div>
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "col-md-10 text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Зарегистрироваться" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    }
    <div class="form-footer">
        @Html.ActionLink("Вернуться на главную страницу", "List", "Book")
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
