@model BookStore.WebUI.Models.CartIndexViewModel
@{
    ViewBag.Title = "Ваша корзина";
}
<div class="form">
    <h2>Ваша корзина</h2>
    @if (Model.Cart.Lines.Any())
    {
        <table id="cartTable" class="table">
            <thead>
                <tr>
                    <th>Кол-во</th>
                    <th>Книга</th>
                    <th class="text-right">Цена</th>
                    <th class="text-right">Общая цена</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.Cart.Lines)
                {
                    <tr>
                        <td class="text-center">@line.Quantity</td>
                        <td class="text-left">@line.Book.Title</td>
                        <td class="text-right">@line.Book.Price.ToString("# руб")</td>
                        <td class="text-right">
                            @((line.Quantity * line.Book.Price).ToString("# руб"))
                        </td>
                        <td>
                            @using (Html.BeginForm("RemoveFromCart", "Cart"))
                            {
                                @Html.Hidden("BookId", line.Book.BookId)
                                @Html.HiddenFor(x => x.ReturnUrl)
                                <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Итого:</td>
                    <td class="text-right">
                        @Model.Cart.ComputeTotalValue().ToString("# руб")
                    </td>
                </tr>
            </tfoot>
        </table>
    }
    else
    {
        <h1 class="text-center">Нет товаров!</h1>
        <br />
    }
    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
        @if (Model.Cart.Lines.Any())
        {
            if (!User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Login", "Auth")" class="btn btn-primary">Оформить заказ</a>
            }
            else
            {
                @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary" })
            }
        }
    </div>
</div>