@model BookStore.Domain.Entities.User
@{
    ViewBag.Title = "Личный кабинет";
    HtmlHelper.ClientValidationEnabled = false;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
}
<div class="card card-body">
    <h3>
        <strong>Здравствуйте, @Model.Name!</strong>
    </h3>
    <div class="line">
        <h4>
            <span class="font-weight-normal">Логин: @Model.Email</span>
            <span class="float-right">
                @Html.ActionLink("Мои заказы", "Purchases", new { Model.UserId }, new { @class = "btn btn-warning" })
            </span>
            <br />
        </h4>
    </div>
    <div class="line">
        <h4>
            <span class="font-weight-normal">Возраст: @Model.Age</span>
        </h4>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Редактировать профиль", "EditProfile", new { Model.UserId }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Изменить пароль", "EditPassword", new { Model.UserId }, new { @class = "btn btn-warning" })
        <a class="btn btn-danger" href="@Url.Action("Logout","Auth")">Выйти</a>
        @Html.ActionLink("Вернуться на главную", "List", "Book", null,
            new { @class = "btn btn-secondary" })
    </div>
</div>
<div id="showEditPassword"></div>
