@model IEnumerable<BookStore.Domain.Entities.Purchase>
@using BookStore.Domain.Concrete;
@{
    ViewBag.Title = "Мои заказы";
    var db = new EFDbContext();
}
@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>Номер заказа</th>
            <th>Статус заказа</th>
            <th>Получатель</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model.GroupBy(p => p.DeliveryDetailsId).Select(g => g.First()).ToList())
        {
            <tr>
                <td>@item.DeliveryDetailsId</td>
                <td>@item.DeliveryStatus</td>
                <td>@db.DeliveryDetails.Find(item.DeliveryDetailsId).FullName</td>
                <td>
                    @Ajax.ActionLink("Показать детали", "PurchaseDetails", new { item.DeliveryDetailsId },
                                                 new AjaxOptions { UpdateTargetId = "showDetails" })
                </td>
                @if (item.DeliveryStatus == "Отправлен")
                {
                    <td>
                        @using (Html.BeginForm("ConfirmReceipt", "Account"))
                        {
                            <div class="float-right">
                                @Html.Hidden("deliveryDetailsId", item.DeliveryDetailsId)
                                @Html.Hidden("userId", item.UserId)
                                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                                <input type="submit" class="btn btn-success" value="Подтвердить получение" />
                            </div>
                        }
                    </td>
                }
            </tr>
        }
    </table>
    <div id="showDetails"></div>
    <a href='javascript:history.go(-1)' class="btn btn-primary">Перейти к профилю</a>
}
else
{
    <div class="form">
        <h1 class="text-center">К сожалению, вы ничего не заказали.</h1>
        <p>Можете ознакомиться с нашим <a href="@Url.Action("List","Book")">каталогом книг</a>. Мы уверены, что вы сможете что-нибудь подобрать для себя.</p>
        <div class="wrapper" style="text-align:center; margin-bottom:20px">
            <a href='javascript:history.go(-1)' class="btn btn-primary" style="margin: 0 auto;">Перейти к профилю</a>
        </div>
    </div>
}